    @model string

<td><a asp-action="Details" asp-route-id="@Model"><i class="fa-solid fa-circle-info"></i></a></td>
                    <td><a asp-action="Edit" asp-route-id="@Model"><i class="fas fa-user-edit"></i></a></td>
                    <td><a asp-action="Delete" asp-route-id="@Model"><i class="fa-solid fa-trash"></i></a></td>