@model Department
<div class="mb-3 form-group">
    <label class="col-form-label" asp-for="Code"></label>
    <input type="text" class="form-control" asp-for="Code">
    <span asp-validation-for="Code" class="text-danger"></span>
  </div>
  <div class="mb-3 form-group">
    <label class="col-form-label" asp-for="Name"></label>
    <input type="text" class="form-control" asp-for="Name">
    <span asp-validation-for="Name" class="text-danger"></span>
  </div>
  <div class="mb-3 form-group">
    <label class="col-form-label" asp-for="DateOCreation"></label>
    <input class="form-control" asp-for="DateOCreation">
    <span asp-validation-for="DateOCreation" class="text-danger"></span>
  </div>
  <input type="submit"  value="Submit" class="btn btn-primary" />
  <a asp-action="Index" class="btn btn-light">Back To List</a>