
@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_AccountLayout1.cshtml";
}

<div>
    <p>Password has sent check your inbox</p>
    <a href="https://mail.google.com/mail/u/0/?ogbl#inbox" target="_blank">Go To Inbox</a>

</div>

