@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AccountLayout1.cshtml";
}


<div asp-validation-summary="All" class="text-danger"></div>
<h2 class="text-uppercase text-center mb-5">Forget Password</h2>

              <form asp-action="SendEmail">

                <div class="form-outline mb-4">
                  <input asp-for="Email" id="form3Example1cg" class="form-control form-control-lg" placeholder="Email" />
                  <span asp-validation-for="Email" class="text-danger"></span>
                  
                </div>
               
                <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">ResetPassword</button>
                </div>

              </form>

@section ValidationScriptSection{
<partial name="_ValidationScriptPartial" />
}
