@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AccountLayout1.cshtml";
}

<div asp-validation-summary="All" class="text-danger"></div>
<h2 class="text-uppercase text-center mb-5">Reset Password</h2>

              <form asp-action="ResetPassword">

                <div class="form-outline mb-4">
                  <input asp-for="NewPassword" id="form3Example1cg" class="form-control form-control-lg" placeholder="New Password" />
                  <span asp-validation-for="NewPassword" class="text-danger"></span>
                  
                </div>
                <div class="form-outline mb-4">
                  <input asp-for="ConfirmedPassword" id="form3Example1cg" class="form-control form-control-lg" placeholder="confirm New password" />
                  <span asp-validation-for="ConfirmedPassword" class="text-danger"></span>
                  
                </div>
               
                <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">ResetPassword</button>
                </div>

              </form>

@section ValidationScriptSection{
<partial name="_ValidationScriptPartial" />
}
